.sort-bar {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-bar p {
  display: inline;
  margin: 10px 10px;
}

.sort-bar h2 {
  font-size: medium;
}

.sort-bar select {
  margin: 10px 10px;
}
